<launch>
  <include file="base.launch" />
  <node name="kalman" pkg="ros_m4_demo" type="kalman_filter.py" />
  <node name="publisher" pkg="ros_m4_demo" type="publisher" />
  <node name="addition_server" pkg="ros_m4_demo" type="service_server" />
  <node name="subscriber" pkg="ros_m4_demo" type="subscriber" />
</launch>
